@media screen and (max-width: 980px){
  //.add-advert{
  //  &__form{
  //    margin-top: 50px;
  //  }
  //}

  .form-rows{
    //margin-left: ~'calc(50% - 260px)';

    &__input-row{
      &:nth-child(n+2){
        margin-top: 15px;
      }

      &--big-indent:nth-child(n){
        margin-top: 25px;
      }
    }
  }

  .suc-input{
    height: 10px;
    top: 4px;
  }
}

@media screen and (max-width: 420px){
  .add-advert{
    &__clarification{
      font-size: 14px;
    }
  }

  .suc-input{
    left: -15px;
  }
}

@media screen and (max-width: 360px){
  #rc-imageselect, .g-recaptcha {
    transform: scale(0.91);
  }
}
