/*
@media screen and (max-width: 980px){
  .add-advert{
    &__form{
      margin-top: 50px;
    }
  }

  .form-rows{
    margin-left: ~'calc(50% - 260px)';

    &__input-row{
      &:nth-child(n+2){
        margin-top: 40px;
      }
    }
  }
}*/
