@media screen and (max-width: 1020px){
  .declarations-top{
    &__subscriptions-wrap{
      display: none;
    }
  }
}

@media screen and (max-width: 900px){
  .declarations{
    &__sort-wrap{
      align-items: flex-start;
      flex-direction: column;
    }

    &__select-wrap{
      margin-left: 0;
      margin-top: 5px;
    }

    &__display-view{
      display: none;
    }

    &__list{
      margin-left: -10px;
    }
  }

  .declarations-list{
    display: flex;
    flex-wrap: wrap;

    .declaration{
      &__wrapper{
        &--reclame{
          padding: 0;
          margin-bottom: 10px;

          &:empty{
            margin-bottom: 0;
          }
        }
      }
    }
  }

  .declaration{
    border: 1px solid #CCCCCC;
    width: ~'calc(33.3333333% - 12px)';
    margin-left: 10px;
    margin-bottom: 10px;

    &.declaration--reclame{
      border: none;
      max-width: none;
      width: 100%;
      margin-bottom: 0;
    }

    .declaration__wrapper{
      &:not([class*='--reclame']){
        flex-direction: column;
        padding-right: 10px;
        padding-bottom: 5px;
        position: relative;
      }
    }

    .declaration__img{
      width: 200px;
    }

    .declaration__info-wrap{
      display: flex;
      flex-wrap: wrap;
      flex-direction: column;
      justify-content: space-between;
      margin-left: 0;
      flex-grow: 1;
      order: 2;
    }

    .declaration__title{
      margin-top: 3px;
    }

    .declaration__urgently{
    }

    .declaration__data-info{
      font-size: 12px;
      margin-top: 25px;
    }

    .declaration__info-category{
      display: block;
    }

    .declaration__info-city{
      display: block;
    }

    .declaration__info-date{
      display: none;
    }

    .declaration__info-delimiter{
      display: none;
    }

    .declaration__stat{
      display: none;
    }

    .declaration__price-wrap{
      flex-grow: 0;
      flex-direction: row;
      justify-content: flex-start;
      flex-wrap: wrap;
      margin-top: 15px;
    }

    .declaration__price{
      margin-right: 10px;
    }

    .declaration__favourite{
      position: absolute;
      right: 10px;
      bottom: 10px;
    }
  }
}

@media screen and (max-width: 870px){
  .declaration{
    &__title{
      font-size: 14px;
      line-height: 1.3;
    }
  }
}

@media screen and (max-width: 768px){
  .declarations-top{
    &__title{
      font-size: 28px;
    }
  }

  .declarations{
    &__hot-declarations{
      display: block;
      margin-top: 20px;
    }

    &__contacts-block{
      display: block;
      max-width: 260px;
    }
  }
}

@media screen and (max-width: 540px){
  .declaration{
    width: ~'calc(50% - 12px)';
    max-width: initial;
  }
}

@media screen and (max-width: 420px){
  .declarations-top{
    &__title{
      font-size: 22px;
    }
  }
}

@media screen and (max-width: 400px){
  .declarations-list{
    justify-content: center;
  }

  .declarations{
    &__contacts-block{
      margin: 20px auto 0;
    }
  }

  .declaration{
    width: 100%;
    max-width: 260px;
  }
}