@media screen and (max-width: 900px){
  .declarations{
    &__display-view{
      display: none;
    }
  }
}


@media screen and (max-width: 870px){
  .declaration{
    &__title{
      font-size: 14px;
      line-height: 1.3;
    }
  }
}