@media screen and (max-width: 1020px){
  .footer{
    padding: 0 15px;

    &__soc{
      max-width: 190px;
    }
  }

  .sub-nav{
    padding-left: 0;
  }
}

@media screen and (max-width: 920px){
  .footer{
    &__wrapper{
      flex-wrap: wrap;
    }

    &__soc{
      margin-top: 25px;
    }

    &__rating{
      margin-top: 25px;
    }
  }

  .sub-nav{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    order: -1;
    width: 45%;

    &:nth-child(3){
      text-align: right;
    }

    &__item{
      box-sizing: border-box;
      width: 100%;

      &:nth-child(n){
        margin-top: 10px;
      }
    }
  }
}

@media screen and (max-width: 620px){
  .footer{
    padding: 0 10px;
  }
}

@media screen and (max-width: 430px){
  .footer{
    &__soc{
      width: 100%;
      text-align: center;
      max-width: initial;
    }

    &__rating-col{
      width: 100%;
    }
  }

  .rating{
    text-align: center;
  }
}