@media screen and (max-width: 1020px){
  .header{
    padding: 20px 15px 0;
  }

  .central-navigation{
    max-width: 45%;

    &__top-list-wrap{
      display: flex;
      justify-content: center;
    }

    &__nav-list{
      padding-right: 0;
    }
  }

  .authorized-list{
    max-width: 100%;

    &__item{
      &--favourites{
        //display: none;
      }

      &--adverts{
        display: none;
      }

      &--balance{
        display: none;
      }
    }
  }
}