/*
@media screen and (max-width: 980px){
  .input-row{
    &__label{
      left: 0;
      top: -25px;
      text-align: left;
      max-width: 100%;
      width: auto;
    }
  }
}*/
@media screen and (max-width: 980px){
  .input-row{
    &__wrap{
      flex-direction: column;

      &--between{
        flex-direction: row;
      }
    }

    &__name{
      display: block;
    }

    &__label{
      position: static;
      text-align: left;
      max-width: 100%;
      width: auto;
      padding-bottom: 3px;
    }

    &__warning-text{
      display: block;
      position: static;
      transform: none;
    }

    &__clarification{
      position: static;
      transform: none;
      margin: 5px 0 0;
      min-height: 0;
    }

    &__description{
      max-width: none;
    }
  }
}

@media screen and (max-width: 700px) {
  .form-rows{
    margin-left: 10%;
    margin-right: 7%;

    &--popup{
      margin-left: 0;
      margin-right: 0;
    }
  }
}

@media screen and (max-width: 420px) {
  .form-rows{
    margin-left: 10px;
    margin-right: 10px;

    &--popup{
      margin-left: 0;
      margin-right: 0;
    }
  }

  .input{
    height: 30px;
    padding: 6px 10px;
    font-size: 14px;
  }

  .textarea{
    height: 140px;
    font-size: 14px;
  }

  .checkbox-btn{
    &__button{
      height: 30px;
      padding: 6px 10px;
      font-size: 14px;
    }
  }

  .radio-switchers{
    &__button{
      height: 30px;
      padding: 6px 10px;
      font-size: 14px;
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
    }
  }

  .checkbox{
    &__text{
      font-size: 14px;
    }
  }

  .file-select{
    &__button{
      height: 30px;
      padding: 6px 10px;
      font-size: 14px;
    }
  }
}