@media screen and (max-width: 768px){
  .news{
    &__title{
      &--main-page{
        font-size: 28px;
      }
    }

    &__img-wrapper{
      max-width: 140px;
    }
  }
}

@media screen and (max-width: 490px){
  .news{
    &__item{
      flex-direction: column;
    }

    &__img-wrapper{
      max-width: none;
    }

    &__info-wrapper{
      margin: 15px 0 0;
    }
  }
}

@media screen and (max-width: 420px){
  .news{
    &__title{
      &--main-page{
        font-size: 22px;
      }
    }

    &__item{
      flex-direction: column;
    }

    &__img-wrapper{
      max-width: none;
    }

    &__info-wrapper{
      margin: 15px 0 0;
    }
  }
}