@media screen and (max-width: 1020px){
  .obyavlenie{
  }
}

@media screen and (max-width: 840px){
  .obyavlenie-control{
    &__link{
      font-size: 12px;
    }
  }
}

@media screen and (max-width: 768px){
  .obyavlenie{
    &__name{
      font-size: 28px;
    }
  }

  .obyavlenie-control{
    display: none;
  }
}

@media screen and (max-width: 420px){
  .obyavlenie{
    &__name{
      font-size: 22px;
    }
  }
}
