//======================================================================================================================
// Colors
@link-color: #0066cc;
@link-border: #0066cc;

@hover-color: #ff3300;
@hover-border: #ff3300;


@defaultFont: Roboto,Arial,sans-serif;

//======================================================================================================================

@border-radius: 3px;
@transition-time: .2s;

//======================================================================================================================
// Sprites