.add-advert{
  &__title{
    margin-top: 70px;
    text-align: center;

    & + .add-advert__form{
      margin-top: 50px;
    }
  }

  &__clarification{
    margin-top: 20px;
    text-align: center;
  }

  &__form{
    margin-top: 30px;
  }

  &__dashed-line{
    margin-top: 30px;
  }

  &__section-title{
    margin-top: 25px;
  }

  &__notice{
    margin: 30px auto 0;
    padding: 20px 15px;
    max-width: 770px;
    background-color: #fedf75;
    text-align: center;
    color: #333333;
  }

  &__inputs-with-error{
    font-weight: bold;
  }

  &__social-authorization-row{
    max-width: 420px;
    margin: 30px auto 0;
    padding-top: 15px;
    border-top: 1px solid #e5e5e5;
  }

  &__social-authorization-title{
    color: #333333;
    text-align: center;
    font-weight: bold;
  }

  &__social-authorization-wrap{
    margin-top: 10px;
    text-align: center;
  }
}


.form-rows{
  margin-left: ~'calc(50% - 160px)';

  &__input-row{
    margin-top: 20px;
  }
}

#rc-imageselect, .g-recaptcha {
  transform:scale(1.058);
  transform-origin:0;
  transform:scale(1.058);
  transform-origin:0 0;
}