.aside{
  flex-shrink: 0;
  width: 240px;
  margin-left: 30px;
  display: flex;
  flex-direction: column;

  &__search{}

  &__tag-search{}

  &__rec-block{}

  &__like-declarations{}

  &__contacts-block{}

  &__forum-publication{}

  &__title{
    font-size: 16px;
    font-weight: bold;
    color: #333333;
  }

  &__links-list{}
}

div + .rec-block, div + .hot-declarations{
  margin-top: 20px;
}


.rec-block{
  &:empty{
    display: none;
  }

  &__img{
    display: block;
  }
}


.search{
  display: flex;

  &__input{
    height: 30px;
    font-size: 14px;
    padding: 5px 10px;
    width: ~'calc(100% - 35px)';
  }

  &__btn{
    display: inline-block;
    margin-left: 5px;
    width: 30px;
    height: 30px;
    border-radius: @border-radius;
    border: none;
    background: #0066cc url("../img/search.png") no-repeat center;
    cursor: pointer;
  }
}

.hot-declarations{
  padding: 20px 25px 35px;
  background-color: #f7f1d9;
  text-align: center;

  &__title{
  }

  &__subtitle{}

  &__how{
    font-size: 12px;
  }

  &__list-wrap{
    margin-top: 35px;
  }

  &__list{}

  &__list-item{
    margin-top: 25px;
  }
}

.hot-declaration{
  &__img-wrap{}

  &__img{
    display: block;
    margin: 0 auto;
  }

  &__title{
    line-height: 1.2;
  }

  &__img-link{
    display: inline-block;
  }

  &__link{
    font-weight: bold;
  }

  &__price{
    margin-top: 3px;
    font-weight: bold;
    color: #333333;
  }

  &__city{
    font-size: 12px;
    color: #666666;
  }
}


.like-declarations{
  margin-top: 35px;

  &__title{
  }

  &__subtitle{}

  &__how{
    font-size: 12px;
  }

  &__list-wrap{
    margin-top: 20px;
  }

  &__list{}

  &__list-item{
    margin-top: 20px;
  }
}

.like-declaration{
  display: flex;
  font-size: 0;
  padding-bottom: 20px;
  border-bottom: 1px solid #e5e5e5;

  &__img-wrap{
    display: inline-block;
    font-size: 0;
    flex-shrink: 0;
  }

  &__img{
    display: block;
    margin: 0 auto;
  }

  &__img-link{
    display: inline-block;
  }

  &__inf-wrap{
    display: inline-block;
    margin-top: -4px;
    margin-left: 10px;
    max-width: 170px;
    vertical-align: top;
  }

  &__title{
    font-size: 14px;
  }

  &__link{
  }

  &__price-city-wrap{
    font-size: 14px;
  }

  &__price{
    margin-right: 6px;
    font-weight: bold;
    color: #333333;
    font-size: inherit;
  }

  &__city{
    color: #666666;
    font-size: inherit;
  }
}

.tag-search{
  margin-top: 20px;
  padding: 20px 20px 25px;
  border-radius: @border-radius;
  background-color: #f7f1d9;

  &__title{}

  &__tag-list{
    display: flex;
    flex-wrap: wrap;
  }

  &__tag-item{
    margin: 5px 5px 0 0;
    line-height: 1;
  }

  &__tag-link{
    display: inline-block;
    padding: 3px 5px;
    border: 1px solid #aea375;
    border-radius: 2px;
    background: #ffffff;
    color: #666666;
    font-size: 12px;
  }
}

.forum-publication{
  margin-top: 20px;
  position: relative;

  &--with-cat{
    padding-bottom: 90px;

    &:after{
      content: '';
      position: absolute;
      bottom: 10px;
      left: -25px;
      width: 105px;
      height: 159px;
      background: url("../img/forum_cat.png") no-repeat;
    }
  }

  &__wrapper{
    padding: 20px 20px 35px;
    background-color: #d5ebcf;
    border-radius: @border-radius;
  }

  &__title{}

  &__list{
    margin-top: 20px;
  }

  &__item{
    &:nth-child(n+2){
      margin-top: 20px;
    }
  }

  &__name{
    font-size: 14px;
    line-height: 1.5;
  }

  &__name-link{
    color: #333333;
    background: none;
  }

  &__item-info{
    color: #999999;
  }

  &__date{
    font-size: 12px;
  }

  &__comments{
    margin-left: 15px;
    font-size: 12px;
  }

  &__forum-go-link{
    font-size: 14px;
    font-weight: bold;
    position: relative;
    z-index: 1;
  }
}


.contacts-block{
  margin-top: 20px;

  &__phones{
    padding: 17px 0 15px;
    background-color: #d5ebcf;
    border-radius: @border-radius;
    text-align: center;
  }

  &__display-phones{
    &:empty{
      +.contacts-block__phones-list{
        margin-top: 0;
      }
    }
  }


  &__display-phone-btn{
    font-weight: bold;
    position: relative;

    &:before{
      content: '';
      position: absolute;
      width: 16px;
      height: 16px;
      left: -26px;
      top: 3px;
      background: url("../img/phone.png");
    }
  }

  &__phones-list{
    margin-top: 10px;
    padding: 0 15px;
    line-height: 1.7;

    a{
      font-weight: bold;
      white-space: nowrap;
    }
  }

  &__phone-item{
    font-size: 16px;
    font-weight: bold;
    color: #333333;
    text-transform: uppercase;
  }

  &__warning-info{
    margin-top: 15px;
    padding: 0 10px 0 20px;
    font-size: 12px;
    color: #666666;
  }

  &__action-list{
    margin-top: 20px;
  }

  &__author-info{
    margin-bottom: 10px;
    padding: 0 15px;
    color: #333;
    font-size: 14px;

    &--name{
      font-weight: bold;
    }
  }
}

.action-list{
  padding: 0 20px 5px;
  font-size: 14px;

  &__item{
    margin-top: 7px;
  }

  &__link{}
}

.obyavlenie-price{
  height: 50px;
  margin-top: 25px;
  padding-left: 10px;
  background: #f7f1d9;
  background: url("../img/price_backg.png");

  &__sum{
    text-align: center;
    font-size: 32px;
    font-weight: bold;
    color: #333333;
  }
}


.links-list{
  margin-top: 20px;
  padding: 20px;
  border-radius: @border-radius;

  &--rubrics{
    background-color: #f7f1d9;
  }

  &--popular{
    background-color: #d5ebcf;
  }

  &__title{}

  &__list{
    margin-top: 20px;
  }

  &__item{
    margin-top: 11px;
    font-size: 14px;
  }

  &__link{
    &--bold{
      font-weight: bold;
    }
  }
}