.button{
  box-sizing: border-box;
  height: 40px;
  padding: 10px 20px;
  color: #ffffff;
  font-weight: 700;
  font-size: 16px;
  background-color: #0066cb;
  border: none;
  border-radius: @border-radius;
  cursor: pointer;
  display: inline-block;
  
  &:hover{
    background-color: #2189f1;
  }

  &--small{
    height: 30px;
    padding: 6px 10px;
    font-size: 14px;
  }

  &--cancel{
    .gradient-button;
    .gradient-hover-button;
    background: #ffffff;
    height: 30px;
    padding: 6px 10px;
    font-size: 14px;
    color: #333333;
  }

  &--disable{
    background-color: #cccc99;
    border: 1px solid #aea375;
    color: #666666;
    cursor: auto;

    &:hover{
      background-color: #cccc99;
    }
  }
}