.hamburger{
  position: absolute;
  top: 11px;
  right: 10px;
  height: 36px;
  width: 40px;
  border-radius: @border-radius;
  cursor: pointer;
  transition: .4s;

  &--settings{
    background: url("../img/settings.svg") no-repeat center/ 24px 24px;
  }

  &__row1{
    position: relative;
    top: 9px;
    left: 9px;
    width: 22px;
    height: 2px;
    background: #0066cb;
    border-radius: 2px;
    transition: .3s;
  }

  &__row2{
    position: relative;
    top: 15px;
    left: 9px;
    width: 22px;
    height: 2px;
    background: #0066cb;
    border-radius: 2px;
    transition: .2s;
  }

  &__row3{
    position: relative;
    top: 21px;
    left: 9px;
    width: 22px;
    height: 2px;
    background: #0066cb;
    border-radius: 2px;
    transition: .3s;
  }

  &.is-open{
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    background-color: #e9edf1;

    /*.hamburger{
      &__row1{
        width: 26px;
        top: 12px;
        left: 2px;
        transform: rotate(-40deg);
      }

      &__row2{
        opacity: 0;
      }

      &__row3{
        width: 26px;
        top: 8px;
        left: 2px;
        transform: rotate(40deg);
      }
    }*/
  }
}