.header{
  margin: 0 auto;
  max-width: 1020px;
  padding: 20px 35px 0;

  &__main-nav{}

  &__search-panel{}
}


.main-nav{}


.search-panel{
  &__filters-wrap{
    display: flex;
    justify-content: center;
  }

  &__input-wrap{
    margin-left: 10px;
  }

  &__select-wrap{
    margin-left: 10px;
  }

  &__btn-wrap{
    margin-left: 10px;
  }
}