.sym-necessary{
  color: #ff0000;
  position: absolute;
}

.suc-input{
  display: none;
  position: absolute;
  width: 13px;
  height: 100%;
  left: -21px;
  background: url(/img/green_suc.png) no-repeat center;
}

.ui-icon-triangle-1-s{
  background: url("/img/arrow_down.png") no-repeat center;
  height: 16px;
  width: 12px;
}

.dashed-line{
  border: none;
  height: 1px;
  .dashed-border();
}