.sym-necessary{
  color: #ff0000;
  position: absolute;
}

.suc-input{
  display: none;
  position: absolute;
  width: 13px;
  height: 10px;
  top: 7px;
  left: -21px;
  background: url("/img/green_suc.png") no-repeat;
}

.ui-icon-triangle-1-s{
  background: url("/img/arrow_down.png") no-repeat center;
  height: 16px;
  width: 12px;
}

.dashed-line{
  border: none;
  height: 1px;
  background: -moz-linear-gradient(to to left, #CCCCCC 2px, transparent 2px);
  background: -ms-linear-gradient(to left, #CCCCCC 2px, transparent 2px);
  background: -o-linear-gradient(to left, #CCCCCC 2px, transparent 2px);
  background: -webkit-gradient(linear, 0 0, 100% 0, from(#CCCCCC), color-stop(0.6, #CCCCCC), color-stop(0.6, transparent));
  background: -webkit-linear-gradient(to left, #CCCCCC 2px, transparent 2px);
  background: linear-gradient(to left, #CCCCCC 2px, transparent 2px);
  background-position: 0 0;
  background-size: 4px 1px;
  background-repeat: repeat-x;
}