.my-declarations{
  &__filter-wrap{}

  &__filter{}

  &__search{}

  &__info-wrap{
    display: flex;
    align-items: baseline;
    padding: 10px 10px 10px 20px;
    background-color: #d5ebcf;

    &:nth-child(n+2){
      margin-top: 10px;
    }
    
    &--renewal{
      background-color: #f7f1d9;
    }
  }

  &__select-count-wrap{
    font-size: 14px;
  }

  &__select-count{
    font-weight: bold;
  }

  &__info-text{
    margin-left: 20px;
    font-size: 14px;
    color: #333333;
  }

  &__units-count{
    font-size: inherit;
    font-weight: bold;
  }

  &__button{
    margin-left: 20px;

    &+.my-declarations__button{
      margin-left: 10px;
    }

    &--no-active{}
  }

  &__balance-link{
    font-weight: bold;
  }

  &__info-advancement{
    color: #333333;
    font-weight: bold;
  }

  &__list{}

  &__list-item{
    margin-top: 10px;
  }
}

.my-dec-item{
  display: flex;
  box-shadow: 0 0 0 1px #CCCCCC;
  border-radius: @border-radius;
  transition: .3s;

  &:hover{
    box-shadow: 0 0 0 2px #aea375;
  }

  &__check-col{
    padding: 17px 15px 0 20px;
  }

  &__checkbox{}

  &__info-col{
    flex-grow: 1;
  }

  &__row-top{
    display: flex;
    padding: 20px 0 15px;
  }

  &__left-col{
    display: flex;
  }

  &__img-wrap{
    font-size: 0;
  }

  &__img{}

  &__data-wrap{
    margin-left: 20px;
  }

  &__title-wrap{}

  &__title{
    font-weight: bold;
  }

  &__text-row{
    font-size: 14px;
    line-height: 1.8;
  }

  &__category{
    font-size: inherit;
  }

  &__active-dates{
    margin-left: 15px;
    font-size: inherit;
  }

  &__stat{
    font-size: inherit;

    &:nth-child(n+2){
      margin-left: 15px;
    }
  }

  &__stat-digit{
    font-size: inherit;
    font-weight: bold;
    color: #333333;
  }

  &__active-services{
    font-size: 14px;
  }

  &__price-col{
    flex-grow: 1;
    text-align: right;
    padding-right: 20px;
  }

  &__price{
    color: #333333;
    font-weight: bold;
  }

  &__row-actions{
    display: flex;
    font-size: 14px;
  }

  &__action{
    padding: 4px 10px;
    color: #0066cc;
    border-top: 1px solid #CCCCCC;
    border-right: 1px solid #CCCCCC;

    &:first-child{
      border-left: 1px solid #CCCCCC;
      border-top-left-radius: @border-radius;
    }

    &:last-child{
      border-top-right-radius: @border-radius;
    }

    &:hover{
      color: #cc0000;
    }
  }

  &__services-col{
    padding: 12px 15px 0 20px;
    background: -moz-linear-gradient(to to top, #CCCCCC 4px, transparent 6px);
    background: -ms-linear-gradient(to top, #CCCCCC 4px, transparent 6px);
    background: -o-linear-gradient(to top, #CCCCCC 4px, transparent 6px);
    background: -webkit-gradient(linear, 0 0, 100% 0, from(#CCCCCC), color-stop(0.6, #CCCCCC), color-stop(0.6, transparent));
    background: -webkit-linear-gradient(to top, #CCCCCC 4px, transparent 6px);
    background: linear-gradient(to top, #CCCCCC 4px, transparent 6px);
    background-position: 0 0;
    background-size: 1px 10px;
    background-repeat: repeat-y;

  }

  &__services-list{}

  &__services-item{}

  &__services-price{
    color: #999999;
    font-size: inherit;
  }
}