.select-button{
  .gradient-button;
  border-radius: @border-radius;
  padding: 10px;
}


.select-list{
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  max-width: 320px;
  color: #666666;
  font-size: 14px;
  border: 2px solid #cc9933;
  border-radius: @border-radius;

  .ui-menu-item{}

  .ui-menu-item-wrapper{
    padding: 5px 20px 5px 10px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;

    &.ui-state-active{
      background-color: #fedf76;
    }
  }
}