.settings{
  &__nav{
    display: flex;
  }

  &__nav-item{
    &:nth-child(n+2){
      margin-left: 25px;
    }
  }

  &__nav-link{
    padding: 1px 3px 0;

    &.is-active{
      font-weight: bold;
      color: #333333;
      background: #efe3b4;
    }
  }

  &__tabs{}

  &__tab{
    &:not([id='contacts']){
      display: none;
    }
  }

  &__form-rows{
    margin-top: 25px;

    &:first-child{
      margin-top: 50px;
    }
  }

  &__dashed-line{
    margin-top: 25px;
  }
}